*.ko
*.o
*.mod.c
*.mod.o
*.ko.cmd
*.o.cmd
.*.o.cmd
.*.ko.cmd
*.ko.xz
*.mod
.*.mod.cmd
.*.order.cmd
.*.symvers.cmd
.tmp_versions/
modules.order
Module.symvers
Module.markers

*.tmp
*.bak
*~

tags
TAGS
cscope.*

build/
